<div class="container">
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" routerLink="/"><i class="fas fa-mobile"></i> Angular MobileApp</a>
    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about"><i class="far fa-address-card"></i> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i> SignUp</a>
      </li>
    </ul>
  </nav>
</div>
