//for the signup form
  .card{
    .card-body{
      .parentForm {
        height: 100%;
        width: 100%;
      }

      .childForm {
        margin: auto;
        width: 70%;
        top: 50%;
        left: 50%;
        width: 90%;
        // transform: translateY(35%);
      }

      .form-container {
        // background: #333;
        padding: 40px 30px 15px 30px;
        border-radius: 20px 20px 20px 20px;
        height: 32vh;
      }

      .form-group {
        position: relative;
      }

      label {
        position: absolute;
        top: 8px;
        left: 0;
        color: #c5c5c5;
        font-size: 12px;
        pointer-events: none;
        outline: none;
        transition: 0.5s;
      }

      input:focus~label {
        top: -20px;
        left: 0;
        font-size: 14px;
        color: #f1c40f;
        // background: #333;
        font-weight: bold;
      }

      input:valid~label {
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 14px;
        color: #f1c40f;
        // background: #333;
        font-weight: bold;
      }

      input[type="text"],
      [type="password"] {
        background: transparent;
        border: none;
        border-bottom: 2px solid #c5c5c5;
        border-radius: 0 0 0 0;
        color: #333;
        outline: none;
      }

      .form-control-no-border:focus {
         border-color: 	#32CD32;
        // outline: 0;
        // // background-color: #333;
        // -webkit-box-shadow: none;
         box-shadow: none;
        color: #333;
      }
     .is-invalid:focus{
       border-color: red;
       outline: none;
       box-shadow: none;
     }
      .btn {
        outline: none;

        // &:hover {
        //   border-radius: 50px;
        // }
      }

    }
  }

  .card-footer {
    text-align: center;
  }


.card-header {
  background: #57606f;
  text-align: center;

  .desc {
    color: #ffffff;
  }
}
